* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bodyContainer {
  /* border: 2px solid red; */
  /* padding: 0px 5%; */
  display: flex;
  flex-direction: column;
}

.bodyContainer .header {
  /* border: 2px solid blue; */
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.bodyContainer .header .tags {
  display: flex;
}

.bodyContainer .header .tags > * {
  display: flex;
  border: none;
  margin-right: 10px;
  font-size: 20px;
  align-items: center;
  background-color: white;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.bodyContainer .header button {
  border: none;
  background-color: white;
  font-size: 20px;
}

.bodyContainer .body {
  /* border: 2px solid blue; */
  padding: 0px 5%;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}
