* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
}

.container .header {
  /* border: 2px solid blue; */
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.container .header .tags {
  display: flex;
}

.container .header .tags > * {
  display: flex;
  border: none;
  margin-right: 10px;
  font-size: 20px;
  align-items: center;
  background-color: white;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.container .header button {
  border: none;
  background-color: white;
  font-size: 20px;
}

.container .body {
  /* border: 2px solid blue; */
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}
