button {
  cursor: pointer;
}

.postContainer {
  display: flex;
  padding: 20px 100px 20px 100px;
  flex-direction: column;
  align-items: center;
}

.postContainer .postSection {
  width: 100%;
  justify-content: space-between;
  display: flex;
}

.postContainer .postSection img {
  max-width: 60vw;
}

.postContainer .postSection .sideBarSection {
  flex: 1;
  display: flex;
  justify-content: end;
}

.postContainer .postSection .sideBarSection .sideBarMenu {
  width: 60px;
  height: 150px;
  border-radius: 50px;
  background-color: var(--velog-grey);
  padding: 10px;
  display: flex;
  font-size: 20px;
  flex-direction: column;
  text-align: center;
}

.postContainer .postSection .sideBarSection .sideBarMenu button {
  font-size: 20px;
  background-color: white;
  padding: 10px;
  border-radius: 50%;
  color: gray;
  cursor: pointer;
}

.postContainer .postSection .sideBarSection .sideBarMenu .buttonUnlike {
  color: var(--velog-green);
}

.postContainer .postSection .sideBarSection .sideBarMenu .likesCount {
  padding: 10px;
}

.postContainer .postSection .mainSection {
  flex: 8;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

.postContainer .postSection .mainSection .headerSection .title {
  font-size: 40px;
  font-weight: 800;
}

.postContainer .postSection .mainSection .headerSection .postInfoSection {
  display: flex;
  margin: 10px 0px 10px 0px;
  justify-content: space-between;
}

.postContainer
  .postSection
  .mainSection
  .headerSection
  .postInfoSection
  .publishInfo
  .userID {
  font-weight: 600;
  margin-right: 10px;
}

.postContainer
  .postSection
  .mainSection
  .headerSection
  .postInfoSection
  .publishInfo
  .createdAt {
  margin-left: 5px;
  color: grey;
}

.postContainer
  .postSection
  .mainSection
  .headerSection
  .postInfoSection
  .postFunctions {
  color: grey;
  cursor: pointer;
}

.postContainer
  .postSection
  .mainSection
  .headerSection
  .postInfoSection
  .postFunctions
  .buttonMod {
  margin: 0px 5px 0px 5px;
  color: grey;
  text-decoration: none;
}

.postContainer .postSection .mainSection .headerSection .tagSection {
  display: flex;
}

.postContainer .postSection .mainSection .headerSection .tagSection * {
  color: var(--velog-green);
  padding: 2.5px 10px;
  background-color: var(--velog-grey);
  margin-right: 5px;
  border-radius: 50px;
}

.postContainer .postSection .mainSection .seriesSection {
  padding: 20px;
  margin: 20px 0px 50px 0px;
  background-color: var(--velog-grey);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.postContainer .postSection .mainSection .seriesSection .seriesTitle {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
}

.postContainer .postSection .mainSection .seriesSection .indicators {
  display: flex;
  justify-content: space-between;
}

.postContainer
  .postSection
  .mainSection
  .seriesSection
  .indicators
  .buttonShowList {
  background-color: var(--velog-grey);
}

.postContainer
  .postSection
  .mainSection
  .seriesSection
  .indicators
  .pageIndicators
  .pages {
  font-size: 14px;
  color: grey;
  margin-right: 10px;
}

.postContainer
  .postSection
  .mainSection
  .seriesSection
  .indicators
  .pageIndicators
  button {
  width: 17.5px;
  height: 18px;
  font-weight: 800;
  color: var(--velog-green);
  background-color: white;
  margin-left: 5px;
  border-radius: 50%;
}

.postContainer .postSection .mainSection .contentSection {
  max-width: 50vw;
}

.postContainer .postSection .mainSection .contentSection img {
  width: 100%;
}

.postContainer .postSection .summarySection {
  flex: 1;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.postContainer .postSection .summarySection .summaryIndexes {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  color: grey;
  border-left: 2px solid var(--velog-grey);
  padding: 5px;
}

.postContainer .footer {
  display: flex;
  width: 75%;
  justify-content: space-between;
}

.postContainer .footer .prevContainer {
  width: 45%;
  background-color: var(--velog-grey);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: start;
  text-decoration: none;
  color: black;
}

.postContainer .footer .nextContainer {
  width: 45%;
  background-color: var(--velog-grey);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: end;
  text-decoration: none;
  color: black;
}

.postContainer .footer button {
  background-color: var(--velog-grey);
  color: var(--velog-green);
  font-size: 16pt;
  padding: 8px 10px;
  border: 4px solid var(--velog-green);
  border-radius: 100%;
  margin: 0px 20px 0px 0px;
}

.postContainer .footer .buttonNext {
  margin: 0px 0px 0px 20px;
}

.postContainer .footer .contentSection {
  display: flex;
  flex-direction: column;
}

.postContainer .footer .contentSection .title {
  font-size: 12pt;
}

.postContainer .footer .contentSection .content {
  font-size: 16pt;
  font-weight: bold;
}

.deleteModal {
  width: 350px;
  height: 180px;
  position: absolute;
  left: 50%;
  top: 50%;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 30px 20px;
  justify-content: space-between;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 10px 1px rgb(200, 200, 200);
}

.deleteModal .modalTitle {
  font-size: 22px;
  font-weight: 800;
}

.deleteModal .modalContent {
  margin-bottom: 10px;
}

.deleteModal .modalButtons {
  display: flex;
  justify-content: end;
  cursor: pointer;
}

.deleteModal .modalButtons .buttonCancel {
  color: var(--velog-green);
  border-radius: 5px;
  font-weight: 800;
  padding: 5px 15px;
  margin-right: 10px;
}

.deleteModal .modalButtons .buttonCancel:hover {
  background-color: var(--velog-grey);
}

.deleteModal .modalButtons .buttonConfirm {
  color: white;
  background-color: var(--velog-green);
  border-radius: 5px;
  font-weight: 800;
  padding: 5px 15px;
  text-decoration: none;
}

.deleteModal .modalButtons .buttonConfirm:hover {
  background-color: var(--velog-green-bright);
}
