button {
  cursor: pointer;
}

.postContainer * {
  background-color: white;
}

.postContainer {
  display: flex;
  flex-direction: column;
}

.postContainer .body {
  display: flex;
  flex-direction: column;
  padding: 0% 10%;
}

.postContainer .body .postSection {
  width: 100%;
  justify-content: space-between;
  display: flex;
}

.postContainer .body .postSection img {
  max-width: 60vw;
}

.postContainer .body .postSection .sideBarSection {
  flex: 1;
  display: flex;
  justify-content: end;
}

.postContainer .body .postSection .sideBarSection .sideBarMenu {
  width: 60px;
  height: 150px;
  border-radius: 50px;
  background-color: var(--velog-grey);
  padding: 10px;
  display: flex;
  font-size: 20px;
  flex-direction: column;
  text-align: center;
}
.postContainer .body .postSection .sideBarSection .sideBarMenu button {
  font-size: 20px;
  background-color: white;
  padding: 10px;
  border-radius: 50%;
  color: gray;
  cursor: pointer;
}

.postContainer .body .postSection .sideBarSection .sideBarMenu .buttonUnlike {
  color: var(--velog-green);
}

.postContainer .body .postSection .sideBarSection .sideBarMenu .likesCount {
  padding: 10px;
  background-color: var(--velog-grey);
}

.postContainer .body .postSection .sideBarSection .summaryIndexes {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  color: grey;
  border-left: 2px solid var(--velog-grey);
  padding: 5px;
}

.postContainer .body .postSection .mainSection {
  flex: 8;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

.postContainer .body .postSection .mainSection .headerSection .title {
  font-size: 40px;
  font-weight: 800;
}

.postContainer .body .postSection .mainSection .headerSection .postInfoSection {
  display: flex;
  margin: 10px 0px 10px 0px;
  justify-content: space-between;
}

.postContainer
  .body
  .postSection
  .mainSection
  .headerSection
  .postInfoSection
  .postInfo
  .userID {
  font-weight: 600;
  margin-right: 10px;
}

.postContainer
  .body
  .postSection
  .mainSection
  .headerSection
  .postInfoSection
  .postInfo
  .createdAt {
  margin-left: 5px;
  color: grey;
}

.postContainer
  .body
  .postSection
  .mainSection
  .headerSection
  .postInfoSection
  .postFunctions {
  color: grey;
  cursor: pointer;
}

.postContainer
  .body
  .postSection
  .mainSection
  .headerSection
  .postInfoSection
  .postFunctions
  .buttonMod {
  margin: 0px 5px 0px 5px;
  color: grey;
  text-decoration: none;
}

.postContainer .body .postSection .mainSection .headerSection .tagSection {
  display: flex;
}

.postContainer .body .postSection .mainSection .headerSection .tagSection * {
  color: var(--velog-green);
  padding: 2.5px 10px;
  background-color: var(--velog-grey);
  margin-right: 5px;
  border-radius: 50px;
}

.postContainer .body .postSection .mainSection .seriesSection * {
  background-color: var(--velog-grey);
}

.postContainer .body .postSection .mainSection .seriesSection {
  padding: 20px;
  margin: 20px 0px 50px 0px;
  background-color: var(--velog-grey);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.postContainer .body .postSection .mainSection .seriesSection .seriesTitle {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
}

.postContainer .body .postSection .mainSection .seriesSection .indicators {
  display: flex;
  justify-content: space-between;
}

.postContainer
  .body
  .postSection
  .mainSection
  .seriesSection
  .indicators
  .buttonShowList {
  background-color: var(--velog-grey);
}

.postContainer
  .body
  .postSection
  .mainSection
  .seriesSection
  .indicators
  .pageIndicators
  .pages {
  font-size: 14px;
  color: grey;
  margin-right: 10px;
}

.postContainer
  .body
  .postSection
  .mainSection
  .seriesSection
  .indicators
  .pageIndicators
  button {
  width: 17.5px;
  height: 18px;
  font-weight: 800;
  color: var(--velog-green);
  background-color: white;
  margin-left: 5px;
  border-radius: 50%;
}

.postContainer .body .postSection .mainSection .contentSection {
  max-width: 50vw;
}

.postContainer .body .postSection .mainSection .contentSection img {
  width: 100%;
}

.postContainer .recentSection {
  display: flex;
  justify-content: space-around;
  margin: 20px 0px;
}

.postContainer .recentSection .prevContainer {
  width: 45%;
  background-color: var(--velog-grey);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: start;
  text-decoration: none;
  color: black;
}

.postContainer .recentSection .nextContainer {
  width: 45%;
  background-color: var(--velog-grey);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: end;
  text-decoration: none;
  color: black;
}

.postContainer .recentSection button {
  background-color: var(--velog-grey);
  color: var(--velog-green);
  font-size: 16pt;
  padding: 8px 10px;
  border: 4px solid var(--velog-green);
  border-radius: 100%;
  margin: 0px 20px 0px 0px;
}

.postContainer .recentSection .buttonNext {
  margin: 0px 0px 0px 20px;
}

.postContainer .recentSection .contentSection {
  display: flex;
  flex-direction: column;
}

.postContainer .recentSection .contentSection .title {
  font-size: 12pt;
}

.postContainer .recentSection .contentSection .content {
  font-size: 16pt;
  font-weight: bold;
}

.postContainer .commentInputSection {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.postContainer .commentInputSection .title {
  font-size: 16pt;
  font-weight: bold;
}

.postContainer .commentInputSection .content {
  margin: 10px 0px;
  padding: 10px;
}

.postContainer .commentInputSection .buttonSection {
  display: flex;
  justify-content: end;
}

.postContainer .commentInputSection .buttonSection .addCommentsButton {
  padding: 10px;
  background-color: var(--velog-green);
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: 600;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.postContainer .commentSection {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.postContainer .commentSection .header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.postContainer .commentSection .header .userInfo {
  display: flex;
  align-items: center;
}

.postContainer .commentSection .header .userInfo .userIcon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px;
}

.postContainer .commentSection .header .userInfo .commentInfo {
  display: flex;
  flex-direction: column;
}

.postContainer .commentSection .header .commentFunctions {
  display: flex;
}

.postContainer .commentSection .header .commentFunctions button {
  padding: 2px;
  border: none;
  background-color: white;
}

.postContainer .commentSection .content {
  padding: 30px 0px;
}

.postContainer textarea {
  padding: 10px;
  margin: 20px 0px;
}

.postContainer .commentSection .editCommentSection {
  display: flex;
  flex-direction: column;
}

.postContainer .commentSection .editCommentSection .editCommentButtons {
  display: flex;
  justify-content: end;
}

.postContainer
  .commentSection
  .editCommentSection
  .editCommentButtons
  .cancelButton {
  border: none;
  background-color: white;
  color: var(--velog-green);
  padding: 10px 20px;
  font-weight: 800;
}

.postContainer
  .commentSection
  .editCommentSection
  .editCommentButtons
  .modifyConfirmButton {
  border: none;
  background-color: var(--velog-green);
  color: white;
  padding: 10px 20px;
  font-weight: 800;
  border-radius: 5px;
}

.deleteModal {
  width: 350px;
  height: 180px;
  position: absolute;
  left: 50%;
  top: 50%;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 30px 20px;
  justify-content: space-between;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 10px 1px rgb(200, 200, 200);
}

.deleteModal .modalTitle {
  font-size: 22px;
  font-weight: 800;
}

.deleteModal .modalContent {
  margin-bottom: 10px;
}

.deleteModal .modalButtons {
  display: flex;
  justify-content: end;
  cursor: pointer;
}

.deleteModal .modalButtons .buttonCancel {
  color: var(--velog-green);
  border-radius: 5px;
  font-weight: 800;
  padding: 5px 15px;
  margin-right: 10px;
}

.deleteModal .modalButtons .buttonCancel:hover {
  background-color: var(--velog-grey);
}

.deleteModal .modalButtons .buttonConfirm {
  color: white;
  background-color: var(--velog-green);
  border-radius: 5px;
  font-weight: 800;
  padding: 5px 15px;
  text-decoration: none;
}

.deleteModal .modalButtons .buttonConfirm:hover {
  background-color: var(--velog-green-bright);
}
